
.ord{
    
    margin-left: 400px;
}

.title{

    padding-left: 350px;
}

.ap{
    text-align: center;
    font-size: 1rem;
}
.ap h1{
    font-size: 1.7rem;
}


.pp{
    text-align: center;
}
.pp h1{
    font-size: 1.5rem;
}
.roww h1{
    font-size: 2rem;
    
   
}
.sts{
    padding-top: 1px;
    padding-bottom: 58px;
}
.az{
    margin-left: 20px;
    
   
}
.qq{
   margin-top: 40px;
   margin-left: 23%;
   width: 30rem;
   height: 35rem;
   text-align: left;

}
.qq h1{
    font-size: 1.2rem;
    padding-top:20px;
}
.qq h3{
    font-size: 1.1rem;
    font-weight: 300;
    color: rgba(109, 108, 108, 0.938);
   
    
}

.qq  span{
    padding-left: 230px;
}
.qq h2{
    font-size: 1rem;
    color: rgb(107 114 128);
    padding-top:20px;
}
.qqq{
    margin-top: 40px;
    margin-left: 40px;
    width: 30rem;
    height: 35rem;
    text-align: left;
 
 }
 .qqq h1{
     font-size: 1.2rem;
     padding-top:20px;
 }
 .qqq h3{
     font-size: 1.1rem;
     font-weight: 300;
     color: rgba(109, 108, 108, 0.938);
     
     
    
     
 }
 
 .qqq  span{
     padding-left: 230px;
 }
 .qqq h2{
     font-size: 1rem;
     color: rgb(107 114 128);
     padding-top:20px;
 }
.abc{
    width: 130px;
    align-items: center;
 
   
    
}
.qw h2{
    font-size: 1.2rem;
    color: rgb(107 114 128);
}
.btt{
    background-color: rgb(76, 78, 82);
    color: white;
    font-size: 1rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.cmm{
    width: 60rem;
    margin:auto;
    background-color:white;
    padding-top: 30px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}




.sprt{
    text-align: center;
    font-size: 2rem;
    padding-top: 40px;
    padding-bottom: 20px;
}
.hhh{
    text-align: center;
    font-size: .955rem;
    color: rgb(107 114 128);

    
}
.thelast{
    padding-bottom: 80px;
}
.lmi{
    padding-right: 0px;
}
.lmi .btn{
    padding: 10px 15px;
}
.lmo{
    padding-left: 650px;
}
.lmo .btn{
    padding: 10px 30px;
}

.final h1{
    font-size: 1.2rem;
}
.twit{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.fb{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.gth{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}
.disc{
    display: inline;
    width: 3.5rem;
    padding-left: 1.5rem;
}


.wm{
    font-size: .75rem;
    color: rgb(75 85 99);
    margin-top: 40px;
    margin-bottom: 40px;

}