.title{
    padding-left: 350px;
}
.ap{
    text-align: center;
    font-size: 2rem;
}
.roww h1{
    font-size: 2rem;
    
}
.btt{
    background-color: rgb(100, 99, 99);
    color: white;
}
.cmm{
    width: 60rem;
    margin:auto;
    background-color: aquamarine;
}