.one{
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 3.75rem;
}
.one span{
    color: rgb(169 121 43);
}

.one h1{
    font-size: 65px;
}
.four{
    font-size: 1.875rem;
}
.six{
    
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.navbar od{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.row .ten{
    font-size: 1.5rem;
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: rgb(75 85 99);
    text-align: center;
    margin-top: 40px;
    
}
.eight h1{
    color: rgb(31 41 55);
    text-align: center;
    font-size: 1.8rem;
    font-family: Inter,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.imm{
    width: 15rem;
    height: 15rem;
    margin: auto;
    background-color: white;
    transition: .5s;

}
.imm img{
    width:70%;
    margin:15px 0px ;
}
.imm:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.therow{
    width: 800px;
    
}
.ruby h1{
    font-size: 1.3rem;
    color: gray;
}
.ktm{
    background-color: rgb(216, 211, 211);
    
}
.rc{
    background-color:rgb(223, 220, 220) ;
    padding-left: 300px;
    padding-right: 300px;
    margin-top:0px;
    padding-top: 0px;
}
.rc .rcb{
    text-align: center;
    font-size: 1.8rem;
    padding-bottom: 70px;
   
}
.imn img{
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
}
.rob h1{
    font-size: 1.125rem;
}
.rob h3{
    font-size: 1.125rem;
}
.rcb{
    padding-top: 30px;
    color: rgb(31 41 55);
    font-size: 1.8;
}
.therew{
    padding-bottom: 80px;
    margin-left: 1000px;
}
.pf{
    padding-left: 40px;
}
.read{
    text-align: center;
    font-size: 1rem;
    padding-bottom: 60px;
}
.sprt{
    text-align: center;
    font-size: 2rem;
    padding-top: 40px;
    padding-bottom: 20px;
}
.hhh{
    text-align: center;
    font-size:.9rem;
    color: rgb(107 114 128);

}
.lmo{
    padding-left: 800px;
}
.thelast{
    padding-bottom: 80px;
}
.final{
    margin: 0px 400px;
}
.final h1{
    font-size: 1.2rem;
}